* {
    box-sizing: border-box;
  }
  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .menu a {
    background-color:white;
    padding:10px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }

  .right{

    background-color: aqua;
  }
     #header {
    padding:15px;text-align:center;
    color:white;
     background-image: url("../images/GlenwoodSprings.jpg");	
   }

     .navbar {
     background-color:lightgreen; padding:15px;text-align:center;
     margin-top:5px;
   }
  .main {
    float:left;
    width:60%;
    padding:0 20px;
  }
  .right {
    background-color:white;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
  }
  
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
  }